[2017-11-07 09:50] jorge9200 opened #1 "The replies breaks the "3 dots button" functionality"
When you reply an email previously replied, "3 dots button" stop working properly and you can't show previous messages.

![image](https://user-images.githubusercontent.com/8724844/32487322-a9c560de-c3a9-11e7-8a87-809829c1743b.png)

When you click on "3 dots button" nothing happen.

[2017-11-07 09:56] jorge9200 opened #2 "Replies sets to much white space"
![image 1](https://user-images.githubusercontent.com/8724844/32487519-2d01e56c-c3aa-11e7-9f82-17fa00a9aa76.png)

If you click on "3 dots button" it sets more white space.

![image 2](https://user-images.githubusercontent.com/8724844/32487545-42df6db4-c3aa-11e7-99bd-26053335509d.png)

[2017-11-07 09:57] jorge9200 opened #3 "Implement drag & drop attachment from Files to Gmail"

[2017-11-07 10:01] jorge9200 opened #4 "When you attach a big file it always write it at the start of email body"
It would be wonderful to write it where the cursor was.

![image 3](https://user-images.githubusercontent.com/8724844/32487803-f5c07ec8-c3aa-11e7-99a3-4693bb65d5c1.png)

[2017-11-07 10:04] jorge9200 opened #5 "Attachments is not working"
When you attach some files to an email an send it. The receiver can't open the attachments, they are corrupted.

![image 4](https://user-images.githubusercontent.com/8724844/32487956-622ff50c-c3ab-11e7-827c-4f4d54c20ab4.png)

[2017-11-07 10:06] jorge9200 opened #6 "When you try to reply or forward a big email, the browser crash"
Emails like spam ones with lot of images and text.

[2017-11-07 10:08] jorge9200 opened #7 "When I use the tab in the "To:" the cursor disappears"
If I have the focus on the "To:" and I press the tab, the cursor disappears and if I write, nothing happens. What should happen is that you gave the email you were writing as entered and your cursor followed in the "To:" so you can continue writing more emails and if you press return send you the input of "Subject:"

[2017-11-07 10:10] jorge9200 opened #8 "The space between the lines in compose is too big"
Each line you write is very separate from one another, which causes you to think it looks good but the receiver reads everything very close.

horbito gmail:
![image 5](https://user-images.githubusercontent.com/8724844/32488237-44b998ba-c3ac-11e7-9f54-f6ee6d4a8fc9.png)

native gmail:
![image 6](https://user-images.githubusercontent.com/8724844/32488253-50b6df74-c3ac-11e7-85bc-403641ff9f2f.png)

[2017-11-07 10:12] jorge9200 opened #9 "Email intern scroll haves lot of lag"
Can be improved?

[2017-11-07 10:15] jorge9200 opened #10 "Sometimes it sends incomplete content"
Sometimes when you send an email for some reason send a version that does not include everything you've written, as if the way a version was saved and sent that instead of the last:

Email sent
![vlcsnap-2017-11-03-12h41m03s680](https://user-images.githubusercontent.com/8724844/32488389-b35dab76-c3ac-11e7-9311-57f36dd648e5.png)

Email received
![image 7](https://user-images.githubusercontent.com/8

[2017-11-07 10:16] jorge9200 opened #11 "Sometimes it takes a long time to send an email"
Replies especially

[2017-11-07 10:19] jorge9200 opened #12 "If the app is closed the badge of the dock icon is not updated"
When the app is open and you receive a new email the badge of the dock is updated correctly but if the app is closed then it does not move

You have to use service.js (Ask how)

[2017-11-07 10:20] jorge9200 opened #13 "Do not launch banner when you receive a new mail"
Upon receiving a new email the badge of the dock icon is updated and also inside the app but nevertheless is not launching a received mail banner

[2017-11-07 10:23] jorge9200 opened #14 "When opening it does not come out centered"
Nothing else to open the app seems that it opens with a size and then it expands to the big one, that causes that when opening the app it is not centered:

You have to specify on info.json the initial width and height of the app

[2017-11-07 10:24] jorge9200 opened #15 "When you click on attachment it have to give the option to download to horbito"
It automatically download to your pc. You have to trigger a popup and ask pc or horbito and if user selects horbito you have to user api.fs.selectDestination() function to ask for a destination and download the file.

[2017-11-07 10:58] burhan-project-manager commented on #15
Jorge, give us latest documentation  of selectDestination() method.

[2017-11-07 11:04] burhan-project-manager commented on #14
In that case initial with (Login screen) will be bigger than design that was provided. Please confirm.

[2017-11-07 11:07] burhan-project-manager commented on #12
How? :)

[2017-11-07 11:09] burhan-project-manager commented on #9
Can you show me any screen of what you are talking about?

[2017-11-07 11:16] burhan-project-manager commented on #1
Can you please clarify it? I am not able to understand it.

[2017-11-07 11:21] jorge9200 commented on #12
You have to add a new script to your static folder, and declare it on info.json like this:

Example of Cosmos app:
![image](https://user-images.githubusercontent.com/8724844/32491140-e5de34b8-c3b5-11e7-826a-9a831d068635.png)

Then this script will be executing always on the background, there you can listen for events and update the badge of the app.

Be careful, because this script also will be ex

[2017-11-07 11:22] jorge9200 commented on #1
You send an email to Laura, Laura reply you and when you reply laura again THAT message breaks "3 dots button" functionality.

You press it and doesn't work

[2017-11-07 11:23] jorge9200 commented on #9
![image](https://user-images.githubusercontent.com/8724844/32491293-76247fe6-c3b6-11e7-89e6-bfd5bbf5831e.png)

That scroll

[2017-11-07 11:27] jorge9200 commented on #14
you are right, let me check

[2017-11-07 11:28] burhan-project-manager commented on #9
From where it is lagging? It is looking good...

[2017-11-07 11:39] jorge9200 commented on #15
You are going to need 2 methods:

[code]

and then to upload to horbito:

![image](https://user-images.githubusercontent.com/8724844/32491871-8dc66eaa-c3b8-11e7-92b7-d6ce52eda9d4.png)
(yes we are starting with our doc, you can see it here: https://docs.horbito.com/api-integration-gmail.html#f-fileToHorbito)

The folderId you get it from selectDestiny() response

[2017-11-07 11:41] jorge9200 commented on #9
I'll send you a video by Skype

[2017-11-08 12:39] burhan-project-manager commented on #7
It is done!

[2017-11-08 12:41] burhan-project-manager commented on #8
It is done!

[2017-11-09 12:51] burhan-project-manager commented on #11
We have changed the way draft is saving. It is fixed now.

[2017-11-09 12:52] burhan-project-manager commented on #10
This is also fixed with previous issue.

[2017-11-10 05:33] burhan-project-manager commented on #13
Currently it is launching a banner whenever you receive new email. Do you want to stop showing that banner?

[2017-11-10 05:41] burhan-project-manager commented on #6
Can you forward that email to my email address? I will check it in my Gmail why it is crashing?

[2017-11-10 11:44] burhan-project-manager commented on #5
We are just sending fsnodeID of attachment that your API is providing.
I think there is some problem with your API where you are sending attachment to Gmail.

[2017-11-13 04:08] burhan-project-manager commented on #15
We have implemented it but there is a confusion about "messageId" parameter of fileToHorbito() method.
Is it gmail account's email address or email of main account of Horbito?

[2017-11-13 04:10] burhan-project-manager commented on #12
We have added "service.js" in info.json but that file is not executing in background.
We have placed service.js file in same location as scripts.js

[2017-11-13 04:10] burhan-project-manager commented on #1
It is fixed!

[2017-11-13 04:16] burhan-project-manager commented on #13
We are now showing banner on new email.

[2017-11-13 06:41] burhan-project-manager commented on #4
We have tried to do this but the plugin that we are using is not allowing us.
Also if anyway we implement it, there is an issue. For example what if my cursor is in middle of any word like "adjuntar".

What we can do is to add a line with margin on bottom and top. Please confirm

[2017-11-16 05:18] burhan-project-manager commented on #2
It was done!

[2017-11-17 07:29] burhan-project-manager commented on #3
I am afraid if that enhancement can be implemented.
We are using a third party WYSIWYG editor. We will need to customize it in order to enable drag & drop.

[2017-11-20 12:24] jorge9200 commented on #13
When you recieve new emails is not showing the banner on upper right corner. The app have to show them always (app opened and app closed) actually it never shows it.

[2017-11-20 12:25] jorge9200 commented on #12
have you set it on info.json? Can you show me how?

[2017-11-20 12:25] jorge9200 commented on #11
@Robby2023 test it please

[2017-11-20 12:26] jorge9200 commented on #10
@Robby2023 test it please

[2017-11-20 12:29] jorge9200 commented on #9
Please @Robby2023 add here the video

[2017-11-20 12:34] jorge9200 commented on #8
fixed

[2017-11-20 12:34] #8 closed, assigned to nobody

[2017-11-20 14:12] jorge9200 commented on #7
fixed

[2017-11-20 14:12] #7 closed, assigned to nobody

[2017-11-20 14:13] jorge9200 commented on #6
@Robby2023 can you please forward Burhan? Ask me for his email

[2017-11-20 14:17] jorge9200 commented on #4
yes, add a line jump after de link to ensure it looks good

[2017-11-20 14:23] jorge9200 commented on #2
@Robby2023 review it please!

[2017-11-20 14:24] jorge9200 commented on #1
@Robby2023 review it please!

[2017-11-20 16:55] jorge9200 commented on #14
Try changing the app size before opening, asking on server.js if the user is logged or not. Then probably u wont have that problem

[2017-11-20 16:55] jorge9200 commented on #3
It would be wonderful, look if it's to complicated and we will decide.

[2017-11-21 08:36] jorge9200 commented on #15
Nacho will answer you what you have to send

[2017-11-21 08:37] jorge9200 commented on #5
Nacho please can you take a look of this?

[2017-11-21 09:21] burhan-project-manager commented on #14
We are setting size in scripts.js
When user logged in we change its size but because our script can't access "window" object so we can't place it in correct position.

[2017-11-21 09:26] burhan-project-manager commented on #13
Banner is launching when app is opened.

When app is closed it should launch. It will be fixed with https://github.com/Inevio/Gmail/issues/12

[2017-11-21 09:29] burhan-project-manager commented on #12
Yes placed in info.json

![image](https://user-images.githubusercontent.com/28291997/33064682-55b3222c-cec8-11e7-838b-dab01e0dccdc.png)

[2017-11-21 10:09] jorge9200 commented on #13
It seem its only launching and refreshing we you have selected the receiver account. If you are on other account a some mail is sent to another one it doesn't refresh (banner & badge)

[2017-11-21 10:17] jorge9200 commented on #14
You have a method on our api to set the position of the view:

`api.view.setPosition(x, y)`

[2017-11-21 10:21] jorge9200 commented on #12
let me test it!

[2017-11-21 10:23] jorge9200 commented on #12
I can't find your service.js
![image](https://user-images.githubusercontent.com/8724844/33067406-5625a8b6-ceae-11e7-8994-08e6c80300ad.png)

[2017-11-21 11:44] burhan-project-manager commented on #13
Yes you are right. Again  it will be fixed with #12

[2017-11-21 11:45] burhan-project-manager commented on #12
Strange

It is within script.js

![image](https://user-images.githubusercontent.com/28291997/33070903-64034286-cedb-11e7-908e-a53ec8616013.png)

[2017-11-21 11:48] burhan-project-manager commented on #11
Tested!

See video
https://drive.google.com/file/d/1lrvPD6h1CQWiR9QXLABD2anqBJlk6NTT/view

[2017-11-21 11:53] burhan-project-manager commented on #3
Need to tweek thrid party plugin, Yes it is complicated!

[2017-11-21 12:22] jorge9200 commented on #12
strange, let me check again

[2017-11-21 12:32] jorge9200 commented on #12
totally my fault, I forgot you have to include service into permissions like this:
![image](https://user-images.githubusercontent.com/8724844/33072574-5964c180-cec0-11e7-9e8f-0884d2471909.png)

[2017-11-21 12:35] jorge9200 commented on #13
I'll close this one when #12 is fixed then

[2017-11-21 12:38] jorge9200 commented on #11
It seems to work properly! @Robby2023 please take a look before closing it.

[2017-11-21 13:07] jorge9200 commented on #3
@javiergarmon told me that maybe can be an easier way to do it. He will write it here and we'll comment it.

[2017-11-21 14:42] icastillejogomez commented on #15
![captura de pantalla 2017-11-21 a las 3 41 52 pm](https://user-images.githubusercontent.com/16567802/33078308-885ded9c-ced2-11e7-945d-f821be63ea40.png)
![captura de pantalla 2017-11-21 a las 3 39 35 pm](https://user-images.githubusercontent.com/16567802/33078212-3f2d31f0-ced2-11e7-894b-6a319de1da90.png)

the messageId is the unique identifier for mail. Yo can get it when you call listThreads.

![

[2017-11-21 14:43] icastillejogomez commented on #5
![captura de pantalla 2017-11-21 a las 3 43 12 pm](https://user-images.githubusercontent.com/16567802/33078353-b579d2c8-ced2-11e7-95aa-b5d324f3a09b.png)
fixed it!!

[2017-11-21 15:22] tavi004 opened #16 "The attachments box"
- When you click on the attachments box there should trigger an alert/popup asking you whether you'd like to download the file to you computer or horbito. Right now it does nothing.

- The design of the attachments should be adjusted to look like this:
![image](https://user-images.githubusercontent.com/3248361/33079574-40305862-ced6-11e7-8fc7-abb03fe272d5.png)

With the white icons and the horbito

[2017-11-22 03:42] burhan-project-manager commented on #16
There are two buttons, one for download and other for horbito. I don't think there is need of asking again if you want to download file to computer or horbito.

User can simply click on "Download" icon or "Horbito" icon.

We need to change icons.

[2017-11-22 03:46] burhan-project-manager commented on #14
Cool. It was implemented!

[2017-11-22 03:49] burhan-project-manager commented on #4
Line jump was added!

[2017-11-22 03:49] burhan-project-manager commented on #3
Yes please suggest me if we can do it without touching third party plugin.

[2017-11-22 05:22] burhan-project-manager commented on #5
File is still not downloading and every time file name is "attachment-1..*"

![image](https://user-images.githubusercontent.com/28291997/33111275-fb94ac64-cf6e-11e7-8bcc-e4026be44cf9.png)

[2017-11-22 05:31] burhan-project-manager commented on #12
Added and it is working now.
But it is only triggering once when page loads. Isn't it should trigger again and again in background?

[2017-11-22 08:55] jorge9200 commented on #12
Yes, it only trigger once. You should put the event handlers there and anytime a mail is sent or received it should do the behavior you have setted.

[2017-11-22 08:57] jorge9200 commented on #5
@icastillejogomez can you take a look of this again please?

[2017-11-22 08:59] jorge9200 commented on #4
perfect!

[2017-11-22 08:59] #4 closed, assigned to nobody

[2017-11-22 09:04] jorge9200 commented on #14
perfect, but can you do it on server.js script or start.js script (this is another special script you can use, it runs just before app view is launched).

![image](https://user-images.githubusercontent.com/8724844/33118430-1dc284da-cf6c-11e7-9f2c-82ed44b81fff.png)

on start.js script you will have a method start() to specify when are you finish with previous calculations and you want to launch the

[2017-11-22 09:06] jorge9200 commented on #16
Ok, but then please change the default behavior of clicking on any part of the square to -> Download to horbito (This has to be the default behavior)

[2017-11-22 11:47] burhan-project-manager commented on #14
@jorge9200  it is implemented accordingly.

[2017-11-22 11:48] burhan-project-manager commented on #16
@jorge9200 it is implemented accordingly.

[2017-11-22 11:48] burhan-project-manager commented on #15
This task is done with #16

[2017-11-22 11:50] burhan-project-manager commented on #12
@jorge9200 badge is updating now using event handlers.
When app is closed, we are only updating badge, not showing banner! Is that ok?

[2017-11-22 13:46] jorge9200 commented on #12
you also have to fire the banner when event is handled, in the same code area as badge update

[2017-11-22 14:06] jorge9200 commented on #16
done!

[2017-11-22 14:06] #16 closed, assigned to nobody

[2017-11-22 14:07] jorge9200 commented on #14
done

[2017-11-22 14:07] #14 closed, assigned to nobody

[2017-11-22 14:10] jorge9200 commented on #15
done

[2017-11-22 14:10] #15 closed, assigned to nobody

[2017-11-22 15:15] Robby2023 commented on #2
Seems pretty good, let's close!

[2017-11-22 15:15] #2 closed, assigned to nobody

[2017-11-22 15:25] Robby2023 opened #17 "Sometimes content of an email is not shown"
Sometimes when you open an email it doesn't show the content of the message:

![image](https://user-images.githubusercontent.com/1384919/33135069-ae1def4e-cfa1-11e7-86e8-404a96863259.png)

[2017-11-22 15:26] Robby2023 commented on #1
It seems it's working now

[2017-11-22 15:26] #1 closed, assigned to nobody

[2017-11-23 05:05] burhan-project-manager commented on #12
Banner is also fired!

[2017-11-23 05:27] burhan-project-manager commented on #17
It should not do this now!
We have worked a lot on iframe height issue.

If you see this bug again, forward that message to me. I will debug it.

[2017-11-23 09:30] Robby2023 opened #18 "Every time I reply to a mail it says "undefinedundefinedundefinedundefined""
![image](https://user-images.githubusercontent.com/1384919/33166107-60ceab3c-d039-11e7-9f92-e8b920f21d68.png)

[2017-11-23 09:49] jorge9200 commented on #12
yes now it firing! issue fixed

[2017-11-23 09:49] #12 closed, assigned to nobody

[2017-11-23 09:53] jorge9200 commented on #17
It seems corrected, @Robby2023 can you take a final look of it?

[2017-11-23 12:30] jorge9200 commented on #13
#12 is closed so...

[2017-11-23 12:30] #13 closed, assigned to nobody

[2017-11-24 14:43] icastillejogomez commented on #5
try again please and let me know if works or not

![captura de pantalla 2017-11-24 a las 3 42 36 pm](https://user-images.githubusercontent.com/16567802/33214949-2d5256f0-d12e-11e7-8fbb-f9170fde8650.png)

[2017-11-25 20:59] icastillejogomez opened #19 "no errors handling and revoked token actions"
1. you have to handle all errors in app code.

2. If "REVOKED USER TOKEN" is returned in error (all errors in app) you must show the oauth initial process pop-up
![bug4](https://user-images.githubusercontent.com/16567802/33234651-2b54a09e-d22b-11e7-9c3f-bcbfb0372d41.png)
![bug3](https://user-images.githubusercontent.com/16567802/33234652-2b73de8c-d22b-11e7-8226-866dac122ed5.jpeg)
![bug2](https://u

[2017-11-27 00:42] javiergarmon commented on #9
This probably is an issue of the platform. Please, let me check it and discover the source.

[2017-11-27 01:07] javiergarmon commented on #3
Hi @burhan-project-manager !

Good news! horbito has an event in the hole platform. Here is an example:

[code]

Here is everything you need to continue. The logic inside `'wz-drop'` event should be very similar to the `selectSource()` callback logic that you have implemented.

[2017-11-27 09:26] burhan-project-manager commented on #3
@javiergarmon i have tried it but those events are not triggering when we drag & drop files over any element. Even wz-dropenter and wz-dropleave are not triggering.

Do we need some permission in info.json in order to make it work?

[2017-11-27 10:29] jorge9200 opened #20 "When is first open doesn't show the log in window"
In start.js script you are listing all accounts, but when the user haven't any account start() line is no executing so the app crash and doesn't open.

[2017-11-27 10:45] javiergarmon commented on #3
I forgot one detail. The element where you want to drop the file must have the class `wz-drop-area`.

[2017-11-27 11:07] Robby2023 commented on #17
Seems to work pretty well, let's close!

[2017-11-27 11:07] #17 closed, assigned to Robby2023

[2017-11-27 11:13] Robby2023 commented on #11
Nice!

[2017-11-27 11:13] #11 closed, assigned to Robby2023

[2017-11-27 11:13] Robby2023 commented on #10
Yes, seems fixed!

[2017-11-27 11:13] #10 closed, assigned to Robby2023

[2017-11-27 11:20] Robby2023 commented on #6
It doesn't crash now but if I try to reply it says "Sending..." all the time and never sends the email

[2017-11-27 11:40] burhan-project-manager commented on #3
@javiergarmon thanks for it. But it is still not working. I can trigger other events on that element like "mousemove" but wz-dropenter and wz-dropleave are not working.

Tested it with completely new elements also.

[2017-11-27 11:47] Robby2023 opened #21 "The small badge on the bottom left corner doesn't update in real time"
This one:

![image](https://user-images.githubusercontent.com/1384919/33265343-94707304-d371-11e7-9aa6-ecb2a39f53d3.png)

Sending the video right now through Skype

[2017-11-27 11:52] Robby2023 opened #22 "Add an intro before the signature"
When writing an email, the signature is too close to the message, we should add an additional intro before the signature so the message is separated from the signature:

![image](https://user-images.githubusercontent.com/1384919/33265396-d52331fc-d371-11e7-9ddf-d0e3b27240f4.png)

[2017-11-27 11:56] Robby2023 opened #23 "Increase from 20px to 28px the top padding on the message"
Right now the message is too close to the top bar:

![image](https://user-images.githubusercontent.com/1384919/33265527-563c915c-d372-11e7-86ef-56facccb7fd7.png)

If we increase the top padding from 20px to 28px it's much better:

![image](https://user-images.githubusercontent.com/1384919/33265556-6c90d38c-d372-11e7-8a6e-1407f5fafe9e.png)

[2017-11-27 12:03] Robby2023 opened #24 "No hover state on some buttons"
Some buttons don't have a hover state:

![image](https://user-images.githubusercontent.com/1384919/33265792-3c7735a0-d373-11e7-84b7-a2593c637f9b.png)

![image](https://user-images.githubusercontent.com/1384919/33265810-501cbbca-d373-11e7-9778-bcb14c092f68.png)

[2017-11-27 14:12] javiergarmon commented on #3
Hmmm.. That's weird. Please, leave that class in your code, I will check it as soon as possible

[2017-11-28 04:20] burhan-project-manager commented on #21
Yes it was creating problem with other account.
It is fixed now!

[2017-11-28 04:24] burhan-project-manager commented on #23
It is fixed!

[2017-11-28 04:28] burhan-project-manager commented on #22
Intro added!

![image](https://user-images.githubusercontent.com/28291997/33302516-8198f9ce-d41e-11e7-8e79-03092b2fbcc9.png)

[2017-11-28 04:39] burhan-project-manager commented on #20
Thanks to point that bug. It is fixed!

[2017-11-28 14:01] jorge9200 commented on #20
it is not fixed, when the user has no accounts, the callback returns [] object, and your code thinks that there is one or more account.

![image](https://user-images.githubusercontent.com/8724844/33323511-f94a76e0-d44c-11e7-938e-12deced81878.png)

[2017-11-28 14:01] jorge9200 commented on #22
thanks closed

[2017-11-28 14:01] #22 closed, assigned to burhan-project-manager

[2017-11-28 14:02] jorge9200 commented on #23
FIXED

[2017-11-28 14:02] #23 closed, assigned to burhan-project-manager

[2017-11-28 14:03] jorge9200 commented on #21
give it a test @Robby2023 please!

[2017-11-28 22:38] tavi004 opened #25 "Retina problems"
On retina screens the icons look bad:
![image](https://user-images.githubusercontent.com/3248361/33347917-ccd98a86-d494-11e7-8c36-fe0b6d38a7f4.png)
![image](https://user-images.githubusercontent.com/3248361/33347935-db2f440e-d494-11e7-9ce2-682dc2387393.png)
![image](https://user-images.githubusercontent.com/3248361/33347942-df487344-d494-11e7-9fbb-272e9e0a03c2.png)
![image](https://user-images.git

[2017-11-29 08:41] jorge9200 commented on #25
You can solve it, with 3 steps:
1. Save on /static the double size assets
2. Name them like their originals but with @2x (Ej: avatar@2x.png)
3. Set on css background-size: "original-size" when you use images (If normal asset is 10x10 and @2x is 20x20 -> background-size: 10px 10px)

[2017-11-29 11:42] burhan-project-manager commented on #19
@jorge9200  there is a problem in `listAccount` API.

If we have more than 1 accounts and any ONE account has expired token then `listAccount` function is returning `error` of 401 in error argument.

Although other accounts are correct but it is returning `null` against account.

So ideally it should return error in each account. What do you think.

[2017-11-29 11:43] burhan-project-manager commented on #20
Yes you are right. It is now fixed!

[2017-11-29 11:47] icastillejogomez commented on #19
@burhan-project-manager okay, I'm going to make you an end-point to solve this.

[2017-11-29 12:46] burhan-project-manager commented on #24
Hover state is implemented on almost all icons.

[2017-11-30 04:23] burhan-project-manager opened #26 "Message actions popup not working"
- Hover not working on this menu
- "Delete this message" not deleting message
- "Mark unread" going to 2nd page
- Menu not hiding when clicking outside

![image](https://user-images.githubusercontent.com/28291997/33412888-1d86a8ee-d5b0-11e7-866d-2182db1ab81f.png)

[2017-11-30 05:21] burhan-project-manager commented on #18
We have tried very much but couldn't  re-generate this error.
Can you please provide steps that you are following that generates this error?

[2017-11-30 09:03] jorge9200 commented on #18
@Robby2023 please, help @burhan-project-manager to replicate this error

[2017-11-30 09:06] jorge9200 commented on #24
Close it when all buttons especified by @Robby2023 have hover state

[2017-11-30 09:07] jorge9200 commented on #19
@icastillejogomez thank you so much, tell us when is done

[2017-11-30 09:10] jorge9200 opened #27 "Text on init popup is not showing right"
![image](https://user-images.githubusercontent.com/8724844/33422648-aa6cb018-d5b6-11e7-8013-0321062f18d1.png)

Can you please adjust "more or less" this text line jumps on english and spanish. Only to not make wierd line jumps.

[2017-11-30 09:11] jorge9200 commented on #27
![image](https://user-images.githubusercontent.com/8724844/33422720-e0d73bbe-d5b6-11e7-9eae-58592cd26fce.png)

[2017-11-30 09:12] jorge9200 commented on #20
@burhan-project-manager  solved, but take a look to this issue: #27

[2017-11-30 09:12] #20 closed, assigned to burhan-project-manager

[2017-11-30 09:13] jorge9200 commented on #25
If you need some @2x assets, you can ask @tavi004

[2017-11-30 09:29] burhan-project-manager commented on #26
It is fixed now!

[2017-11-30 09:29] #26 closed, assigned to burhan-project-manager

[2017-11-30 09:39] jorge9200 commented on #26
perfect

[2017-11-30 09:41] burhan-project-manager commented on #6
We have tried it with different messages but it is working fine.
May be it was testing at the time of development and cause some error?

If you see it again, kindly forward me that email message.

[2017-11-30 09:47] burhan-project-manager commented on #5
Yes it is working fine now. Thanks

[2017-11-30 09:54] burhan-project-manager commented on #25
Yes we need.
@tavi004  please send me those assets.

[2017-11-30 10:05] burhan-project-manager commented on #27
You need to add `<br>`  within translation text because some translations can take more space so it is better to manage `<br>` within translation.

Check it now.

![image](https://user-images.githubusercontent.com/28291997/33425242-efb3b7f6-d5df-11e7-8490-0221449db466.png)

[2017-11-30 11:19] burhan-project-manager commented on #6
It seems sometime when we send long message `usersDraftSend` returns following code from server.

`{"error":{"errors":[{"domain":"global","reason":"notFound","message":"Not Found"}],"code":404,"message":"Not Found"}}`

Although draft is saving successfully.

[2017-11-30 11:27] jorge9200 commented on #27
@tavi004 take a look!

[2017-11-30 11:30] jorge9200 commented on #5
it seems working! closed

[2017-11-30 11:30] #5 closed, assigned to burhan-project-manager

[2017-11-30 13:01] Robby2023 opened #28 "Sometimes text is misplaced"
Sometimes the content of an email appears very close to the left side instead of the correct position:

![image](https://user-images.githubusercontent.com/1384919/33432087-f8aedd8a-d5d6-11e7-95de-39ef6b4ec5a7.png)

[2017-11-30 13:02] Robby2023 commented on #18
It's not happening now, it seems fixed

[2017-11-30 13:02] #18 closed, assigned to Robby2023

[2017-11-30 13:49] Robby2023 commented on #28
We just realized the problem is when the sender doesn't have a name. Right now it just removes the field from the app instead of using the text before "@" like Gmail does.

[2017-12-01 02:10] icastillejogomez commented on #19
You can call listDisableAccounts method on api.integration.gmail variable. In this screenshot and in your start.js file (static directory) you can find the example code.

![gmail2](https://user-images.githubusercontent.com/16567802/33464768-5df8d854-d644-11e7-920e-50eaee07d0f9.png)

you can see the results:

![gmail3](https://user-images.githubusercontent.com/16567802/33464810-95ee4c6c-d644-11e7-9

[2017-12-04 06:20] burhan-project-manager commented on #28
We are not able to re-produce this error.

@Robby2023 Please check it now! It might be due to email tag that gmail was returning with name. We have removed it.

[2017-12-04 06:25] burhan-project-manager commented on #19
Thanks, it is implemented accordingly.

[2017-12-04 08:56] jorge9200 commented on #6
what can be the reason @icastillejogomez ?

[2017-12-04 08:57] #19 closed, assigned to jorge9200

[2017-12-04 09:39] tavi004 commented on #27
In english it looks good except:

The text should have line-height: 26px

And in spanish it should look like this:
![image](https://user-images.githubusercontent.com/3248361/33545734-5ca21b3a-d8df-11e7-82ec-d88d8a007b0f.png)

Spanish text: "Accede a tu correo directamente desde horbito.
Puedes adjuntar y guardar archivos a tu cuenta
sin tener que descargarlos a tu ordenador."

[2017-12-04 09:55] tavi004 commented on #25
[assets retina.zip](https://github.com/Inevio/Gmail/files/1526497/assets.retina.zip)

[2017-12-04 11:13] Robby2023 opened #29 "If you don't have unread messages it shows a badge with 0"
![badge](https://user-images.githubusercontent.com/1384919/33549931-770aeb3e-d8ec-11e7-980d-c350137c8d74.JPG)

[2017-12-04 11:15] Robby2023 commented on #28
It's still happening:

![image](https://user-images.githubusercontent.com/1384919/33549993-ab4ab028-d8ec-11e7-92dd-02d856af7b1a.png)

![image](https://user-images.githubusercontent.com/1384919/33550004-b59c2098-d8ec-11e7-902f-c4328fe85df5.png)

Here is what Gmail displays:

![image](https://user-images.githubusercontent.com/1384919/33550033-cb3191e0-d8ec-11e7-97df-6f1d63050aed.png)

![image](https

[2017-12-04 11:17] Robby2023 commented on #28
![image](https://user-images.githubusercontent.com/1384919/33550079-ec9d3a32-d8ec-11e7-887a-898654e67e52.png)

[2017-12-04 11:18] Robby2023 commented on #28
Here is what Gmail shows:

![image](https://user-images.githubusercontent.com/1384919/33550150-2e61ebf2-d8ed-11e7-8dae-7be2d2720401.png)

[2017-12-04 11:22] Robby2023 commented on #24
Reassigning to our desginer @tavi004

[2017-12-05 09:41] burhan-project-manager commented on #29
It is fixed!

[2017-12-05 09:42] burhan-project-manager commented on #28
@Robby2023  you are right. It is fixed now!

[2017-12-05 09:43] burhan-project-manager commented on #27
It is modified!

[2017-12-05 09:49] jorge9200 commented on #27
solved

[2017-12-05 09:49] #27 closed, assigned to jorge9200

[2017-12-05 10:57] burhan-project-manager commented on #25
Thanks @tavi004, but we have different sprite and need @2x for it:
https://static.horbito.com/app/522/gernalBlack.png

[2017-12-05 11:48] jorge9200 commented on #21
seems working

[2017-12-05 11:48] #21 closed, assigned to Robby2023

[2017-12-05 11:49] jorge9200 commented on #29
working

[2017-12-05 11:49] #29 closed, assigned to Robby2023

[2017-12-05 12:00] tavi004 commented on #25
I cannot extract the @2x version of that same sprite so you'll have to use the sprites provided that do have the @2x version, because are the ones used by gmail.com. And the custom icons that are not from gmail are not in the sprite, are outside, like the search icon or the arrow down icons.

[ASSETS.zip](https://github.com/Inevio/Gmail/files/1531018/ASSETS.zip)

[2017-12-05 12:37] tavi004 commented on #24
The attachment hover is horrible
![image](https://user-images.githubusercontent.com/3248361/33607106-26476676-d9c0-11e7-9eca-0ec366fc01de.png)

It should look more like this
![image](https://user-images.githubusercontent.com/3248361/33607135-4be425b8-d9c0-11e7-866b-87423c5edac2.png)

I attach you the asset with all the spaces so you can center the image in the box. The box should be 34x34px with 6

[2017-12-05 17:51] Robby2023 opened #30 "When you read an email the badge on the app icon doesn't update"
This one:

![image](https://user-images.githubusercontent.com/1384919/33622139-3fe94144-d9ed-11e7-9277-d4d2511dbb24.png)

[2017-12-05 18:00] Robby2023 commented on #28
Fixed!!!

[2017-12-05 18:00] #28 closed, assigned to Robby2023

[2017-12-06 12:09] burhan-project-manager commented on #30
It is fixed!

[2017-12-06 12:11] burhan-project-manager commented on #24
Attachment and delete buttons are replaced now!

[2017-12-06 12:12] burhan-project-manager commented on #25
We have created new sprite because old one was missing some icons.
It is implemented now!

@tavi004 take a look please!

[2017-12-07 12:31] Robby2023 commented on #24
When you hover over the arrows to move to the next page/previous page both get the hover effect instead of only the one you actually want to click.

Also, if the icon is grey because you can't go to the previus page or next page (because you're at the start or at the end) it shouldn't have a hover effect.

[2017-12-07 12:33] Robby2023 commented on #30
Now there is a different problem:

When you click on an unread email, sometimes it updates both badges (small and big one) but sometimes it doesn't:

(In this image you can see the number that appears on Inbox is not the same as the number shown in both badges)
![image](https://user-images.githubusercontent.com/1384919/33715522-275c8bb0-db53-11e7-879f-9445d35698b1.png)

[2017-12-11 06:59] burhan-project-manager commented on #24
@Robby2023  It is fixed!

[2017-12-11 21:20] icastillejogomez commented on #6
I'm looking the reason

[2017-12-12 01:15] icastillejogomez commented on #6
![simplemail](https://user-images.githubusercontent.com/16567802/33862294-4536a700-dee2-11e7-8392-7c55c8f9f9de.jpeg)
![bigmail](https://user-images.githubusercontent.com/16567802/33862295-45517ed6-dee2-11e7-9623-0e3973ab93ec.jpeg)
![attachment](https://user-images.githubusercontent.com/16567802/33862296-456e4ef8-dee2-11e7-9c44-c1d2f25b423e.jpeg)

[2017-12-12 10:58] jorge9200 commented on #25
It looks great, only remain one icon:

![image](https://user-images.githubusercontent.com/8724844/33881021-caab8486-df33-11e7-9780-bd184d3429c1.png)

[2017-12-12 10:58] jorge9200 commented on #25
this arrow

[2017-12-12 11:27] Robby2023 commented on #30
It also happens the other way round:

![image](https://user-images.githubusercontent.com/1384919/33882254-c9f3b960-df37-11e7-852e-0e628d2a4a5c.png)

[2017-12-12 11:28] #24 closed, assigned to Robby2023

[2017-12-12 14:01] icastillejogomez commented on #6
the new endpoint interface is: getAttachment( messageId, attachmentId, callback )

[2017-12-12 14:05] icastillejogomez opened #31 "Error when I try to forward an email"
Please, let me know your email address to send you a conflictive email. We are trying to forward it and browser crashed! We think that the reason is a infinity loop in your code.

[2017-12-13 10:29] burhan-project-manager commented on #31
burhan.khan@elementarylogics.com

[2017-12-13 10:41] burhan-project-manager commented on #25
It is also fixed!

[2017-12-13 12:48] jorge9200 commented on #25
It is fused with the text now
![image](https://user-images.githubusercontent.com/8724844/33939660-4b10716c-e00c-11e7-994d-599b37f036fc.png)

[2017-12-13 12:54] jorge9200 opened #32 "Arrow not showing correctly"
In normal & retina this button, doesn't show correctly the arrow asset:

![image](https://user-images.githubusercontent.com/8724844/33939878-1ab09f78-e00d-11e7-9d96-ba49fb7e22dd.png)

[2017-12-13 12:54] jorge9200 commented on #32
![image](https://user-images.githubusercontent.com/8724844/33939890-25ea5140-e00d-11e7-8be4-8487aadd8554.png)

[2017-12-15 16:00] javiergarmon commented on #3
Done. Closed!

[2017-12-15 16:00] #3 closed, assigned to javiergarmon

[2017-12-17 16:08] icastillejogomez opened #33 "Use span instead of a tag"
Download and watch it. http://wz.io/f/6a6QrchV

[2017-12-17 23:51] icastillejogomez commented on #33
you have to use css property `cursor: pointer;`

[2017-12-18 09:24] jorge9200 commented on #9
also solved on script.js sended via skype

[2017-12-18 09:25] #9 closed, assigned to javiergarmon

[2017-12-18 10:54] jorge9200 opened #34 "Add hover state with dragger to compose container"
![image_2017-12-18_11-52-22](https://user-images.githubusercontent.com/8724844/34102608-18dee32c-e3ea-11e7-8772-6e5a2eaf80bf.png)

When you hover this container ask if you are dragging an element and if it is, add this style.

[2017-12-18 11:34] icastillejogomez commented on #31
I have just sended it to you

[2017-12-18 12:48] burhan-project-manager commented on #25
It is fixed now again!

[2017-12-18 13:05] burhan-project-manager commented on #32
Fixed!

[2017-12-18 13:06] burhan-project-manager commented on #33
Did it using span now!

[2017-12-18 13:09] burhan-project-manager commented on #30
Yeah it was creating problem when we are not in INBOX.
It is fixed now!

[2017-12-18 13:13] burhan-project-manager commented on #31
Received.
Yes it is stuck at that message. We will check it.

[2017-12-18 13:39] icastillejogomez commented on #33
there are no more "a" labels in the whole application?

[2017-12-18 13:47] icastillejogomez commented on #31
pfct =D thx!

[2017-12-18 14:16] jorge9200 commented on #25
seems right!

[2017-12-18 14:16] #25 closed, assigned to jorge9200

[2017-12-18 14:17] #32 closed, assigned to jorge9200

[2017-12-19 04:28] burhan-project-manager commented on #33
I thought you only wants in attachment.
Let us replace all today.

[2017-12-19 05:07] icastillejogomez commented on #33
I'm sorry Burhan, I didn't think so. I apologize for the inconvenience.

[2017-12-21 06:14] burhan-project-manager commented on #34
@jorge9200  we are still not able to drag drop files.
Those drag drop events are not working and this task is dependent on those events.

You said it is working fine. Is it any browser specific?

[2017-12-21 11:51] burhan-project-manager commented on #33
All anchor tags are replaced by span with corresponding styles.

[2017-12-21 13:04] burhan-project-manager commented on #34
Hover state is added!

[2017-12-21 13:09] burhan-project-manager commented on #31
@icastillejogomez we have found the bug, it is due to WYSIWYG editor
http://www.niceonecode.com/Q-A/JAVAScript/JQuery/Jquery-text-editor-(jqte)-hangs-the-browser-when-writing-big-text-data/20380

We will try to find a solution tomorrow.

[2017-12-21 13:10] burhan-project-manager commented on #6
It is fixed.

[2017-12-21 15:24] jorge9200 commented on #34
@tavi004 review it and close it if it is ok please

[2017-12-21 15:38] tavi004 commented on #34
The "Drop files here" should have font-weight: 900

And for the dashed border I don't know if it's possible to make the dashes longer and with more space between them.

[2017-12-21 16:24] jorge9200 opened #35 "Mails are not loading"
![image](https://user-images.githubusercontent.com/8724844/34264599-bbbb4fb4-e673-11e7-93b5-4ad6f284bd49.png)

[2017-12-21 16:24] jorge9200 commented on #6
I cant test it until #35

[2017-12-22 12:25] #35 closed, assigned to burhan-project-manager

[2017-12-22 12:29] jorge9200 commented on #6
seems working

[2017-12-22 12:29] #6 closed, assigned to jorge9200

[2017-12-22 13:09] tavi004 opened #36 "Compose and respond design"
# Compose window
![image](https://user-images.githubusercontent.com/3248361/34298964-a922c618-e720-11e7-8090-c3a0435e6840.png)

Apart from all this the Window should be separated 12px from the border of the app and with a shadow:
`  box-shadow: 0px 10px 20px 0px rgba(34, 31, 26, 0.3);`
![image](https://user-images.githubusercontent.com/3248361/34298979-c27ca728-e720-11e7-80ec-bded2c958322.png)
![i

[2017-12-22 13:30] burhan-project-manager commented on #34
It is completed!

[2017-12-22 13:32] burhan-project-manager commented on #31
We have implemented TinyMCE because it supports iframe.
But there are some events that needs modifications like three dots ...

We will do it on next working day.

[2017-12-22 14:55] tavi004 commented on #34
When I do the hover it ovelaps with the text format icons
![image](https://user-images.githubusercontent.com/3248361/34302281-8a88708a-e730-11e7-8ca4-ddf03d80e2d2.png)

[2018-01-02 12:32] Robby2023 opened #37 "New emails don't show in real time"
If you receive a new email, it doesn't appear unless you click on "Inbox"

[2018-01-02 13:09] burhan-project-manager commented on #34
It is fixed!

[2018-01-02 13:12] burhan-project-manager commented on #36
Those all are fixed please check.

[2018-01-02 13:15] burhan-project-manager commented on #37
We are not receiving event of new emails from your app.
Transferring to @icastillejogomez

[2018-01-02 13:36] Robby2023 opened #38 "Suddenly the signature has disappeared"
Now it doesn't appear when you write an email

[2018-01-02 13:54] Robby2023 commented on #38
It's back!

[2018-01-02 13:54] #38 closed, assigned to burhan-project-manager

[2018-01-02 14:24] jorge9200 opened #39 "Add this style to the iframe"
https://static.horbito.com/style/reset.css

[2018-01-02 15:01] Robby2023 opened #40 "Attach file using the attach button doesn't work"
If you try to attach a file using the attach button nothing happens (If you attach using drag&drop it works perfect)

[2018-01-03 12:41] tavi004 commented on #36
Fix the avatar! 30x30px![image](https://user-images.githubusercontent.com/3248361/34520935-5570a106-f08b-11e7-859d-17b8d888f615.png)

Delete that shadow and center the icons![image](https://user-images.githubusercontent.com/3248361/34520982-9808b67a-f08b-11e7-83c8-f7d7b482815d.png)

[2018-01-03 13:05] burhan-project-manager commented on #40
It is working fine now, but again Gmail is giving 404 error when downloading that attachment.
@icastillejogomez fixed it in some previous ticket, but still need to see again.

[2018-01-03 13:06] burhan-project-manager commented on #39
It is done!

[2018-01-03 13:12] burhan-project-manager commented on #36
Which shadow should be deleted? @tavi004

[2018-01-03 14:19] #34 closed, assigned to tavi004

[2018-01-03 15:42] #39 closed, assigned to jorge9200

[2018-01-04 09:35] tavi004 commented on #36
![untitled-1](https://user-images.githubusercontent.com/3248361/34557549-e8bef99e-f13a-11e7-96cf-5e8736ecb202.jpg)

[2018-01-04 13:28] Robby2023 opened #41 "I'm trying to open an email but it just shows "Loading...""
When I try to open an email I've just received it doesn't open, it just shows "Loading..."

![image](https://user-images.githubusercontent.com/1384919/34565533-756e63f0-f15b-11e7-9202-85ddded5f742.png)

On Gmail it opens perfectly:

![image](https://user-images.githubusercontent.com/1384919/34565551-8b8fbbde-f15b-11e7-8f0a-28fa555af65c.png)

[2018-01-05 13:29] Robby2023 commented on #41
Same problem with a different email:

![image](https://user-images.githubusercontent.com/1384919/34611214-dba377ae-f224-11e7-89e9-fef245fd4d85.png)

[2018-01-05 14:19] icastillejogomez commented on #40
Works fine now, i don't close it yet to look out it this days

[2018-01-05 14:36] #33 closed, assigned to icastillejogomez

[2018-01-05 16:02] Robby2023 commented on #30
It seems fixed!

[2018-01-05 16:02] #30 closed, assigned to Robby2023

[2018-01-06 12:16] icastillejogomez opened #42 "Links inside mails don't show cursor pointer when I hover mouse over it"
See and let me know what's happens

video: http://wz.io/f/wVCTAwgr

[2018-01-06 12:42] icastillejogomez commented on #31
Now, when I forward an email the original content body don't send it. Can you look at that?

[2018-01-08 13:53] icastillejogomez commented on #37
fixed!

[2018-01-08 13:53] #37 closed, assigned to icastillejogomez

[2018-01-08 14:35] #40 closed, assigned to icastillejogomez

[2018-01-10 13:26] burhan-project-manager commented on #36
@tavi004 shadow removed!
Still have confusion about which icon should be in center?

Check current preview
![image](https://user-images.githubusercontent.com/28291997/34775113-d3759c48-f633-11e7-9281-e579b03fb415.png)

[2018-01-10 13:31] burhan-project-manager commented on #41
@Robby2023  there was another scenario in which gmail was returning parts inside parts. We have covered it also.

![image](https://user-images.githubusercontent.com/28291997/34775258-55adc384-f634-11e7-962a-22459d9e888e.png)

[2018-01-10 13:33] burhan-project-manager commented on #42
It was due to reset.css that we have embed due to #36

We have removed that reset.css

[2018-01-10 13:43] Robby2023 commented on #41
Seems fixed!

[2018-01-10 13:49] tavi004 commented on #36
Neither of the icons are centred with the button
![image](https://user-images.githubusercontent.com/3248361/34775966-5e8b4b76-f615-11e7-9c25-7e37b0a0a242.png)

[2018-01-10 17:50] #42 closed, assigned to icastillejogomez

[2018-01-11 12:10] burhan-project-manager commented on #36
ok it is centered now!

[2018-01-11 12:18] burhan-project-manager commented on #31
@icastillejogomez

updateUserDraft works fine in normal condition but if we try to save big email, it has strange behavior.

It continuously tries to connect with sockets.

![image](https://user-images.githubusercontent.com/28291997/34825175-33ad08de-f6f3-11e7-826e-548b10104dda.png)

And after some time, it throws this error:
![image](https://user-images.githubusercontent.com/28291997/34825189-470

[2018-01-11 12:38] #36 closed, assigned to tavi004

[2018-01-11 12:48] icastillejogomez commented on #31
Thanks Burhan, I will try to find the reason of this.

[2018-01-11 12:49] tavi004 opened #43 "Center the toolbar icons"
![image](https://user-images.githubusercontent.com/3248361/34826309-5622d6e0-f6d6-11e7-8317-626bab65d04f.png)

[2018-01-12 10:00] burhan-project-manager commented on #43
It is done!

[2018-01-12 23:10] icastillejogomez opened #44 "You can open more than one draft to edit it"
![image](https://user-images.githubusercontent.com/16567802/34898923-e8805ba0-f7f5-11e7-89ef-6b926964e7a7.png)

@jorge9200 is this the correct way?

[2018-01-14 16:27] javiergarmon commented on #31
The issue is our court, we'll fix it as soon as possible. After a few inquiries we've found this request overcome the websocket's frame maximum size.

Apparently It's a server configuration option so I hope it could be solved really soon.

[2018-01-15 08:54] jorge9200 commented on #44
yes! :)

[2018-01-15 08:54] #44 closed, assigned to jorge9200, icastillejogomez, burhan-project-manager

[2018-01-15 09:34] #43 closed, assigned to tavi004

[2018-01-15 10:42] Robby2023 opened #45 "Sometimes the signature doesn't appear"
When I click on "Compose" and write a new email, sometimes the signature appears and others it doesn't.

- With signature:

![image](https://user-images.githubusercontent.com/1384919/34938565-1612b44c-f9e9-11e7-8998-c11b6e01ba9b.png)

- Without signature:

![image](https://user-images.githubusercontent.com/1384919/34938544-06c39448-f9e9-11e7-8f35-c6d4243f6152.png)

[2018-01-15 10:44] Robby2023 commented on #45
It's actually pretty easy to simulate:

- Open app
- Click on compose (it shows signature)
- Close New Message
- Click on compose (now signature doesn't appear)

[2018-01-15 10:46] Robby2023 opened #46 "Weird spaces when sending an email"
- How the email appears in compose:

![image](https://user-images.githubusercontent.com/1384919/34938688-92bc325c-f9e9-11e7-92cf-eea3004ff929.png)

- How the email is received:

![image](https://user-images.githubusercontent.com/1384919/34938717-a8530500-f9e9-11e7-9671-7a3a6cb880a2.png)

- In Gmail it also appears wrong:

![image](https://user-images.githubusercontent.com/1384919/34938746-b6430f48

[2018-01-15 10:47] jorge9200 opened #47 "Sometimes there is an scroll shake"
Video to skype

[2018-01-15 10:48] javiergarmon opened #48 "In a really big email, it only shows the message body and not the attachments"

[2018-01-15 10:49] jorge9200 opened #49 "Wierd hover on add Account plus button"

[2018-01-15 10:50] jorge9200 opened #50 "Wierd hover on add Account plus button"
Can you add the same ammount of padding to both sides?
![image](https://user-images.githubusercontent.com/8724844/34938901-3518d12c-f9ea-11e7-889c-7ed217be94ee.png)

[2018-01-15 10:50] #49 closed, assigned to nobody

[2018-01-15 10:50] javiergarmon opened #51 "There are tons of mail that never charge"
They are always "Loading..."

![screen shot 2018-01-15 at 11 48 45](https://user-images.githubusercontent.com/1794673/34938916-477f1d30-f9ea-11e7-9b39-180231d6ea48.png)

[2018-01-15 10:52] javiergarmon opened #52 "When I start forwarding a message, "undefined" mail is the default recipient"
![screen shot 2018-01-15 at 11 50 50](https://user-images.githubusercontent.com/1794673/34938970-771dc9f6-f9ea-11e7-9f5e-a7a668888184.png)

[2018-01-15 10:53] jorge9200 opened #53 "Scroll bottom when you click on reply or forward on a thread of messages"
When you click on any of these buttons it display the compose box to reply or forward, can you also scroll to bottom to show all the compose box correctly?

[2018-01-15 10:54] javiergarmon opened #54 "Sometimes Forward doesn't focus to the bottom input/textarea"

[2018-01-15 10:55] jorge9200 opened #55 "When you use reply or forward compose way you lose the signature"

[2018-01-15 10:55] jorge9200 commented on #54
maybe same as #53

[2018-01-15 13:36] jorge9200 opened #56 "Make app open with 1030px width"
Most emails have this minimum of widht, so it will look better (don't modify min/max, only start-width)

[2018-01-15 19:03] icastillejogomez opened #57 "Attachments are not showing"
![image](https://user-images.githubusercontent.com/16567802/34957589-8282915c-fa2e-11e7-810e-bce931f87c8e.png)
![image](https://user-images.githubusercontent.com/16567802/34957597-8bbe0f08-fa2e-11e7-92eb-364ab8dcc8d7.png)

The result of get this specific thread is:

(You can use this web http://jsonviewer.stack.hu/ to see it the payload content more pretty)

[code]

[2018-01-15 19:05] icastillejogomez commented on #57
Take a look of this. (You can see the clip image)

![image](https://user-images.githubusercontent.com/16567802/34957800-5ef6ef52-fa2f-11e7-82e9-2b2ea54861cd.png)

[2018-01-15 19:09] icastillejogomez commented on #55
https://github.com/Inevio/Gmail/issues/45

[2018-01-15 19:10] icastillejogomez commented on #48
https://github.com/Inevio/Gmail/issues/57

[2018-01-15 23:13] javiergarmon commented on #57
@icastillejogomez I edited your comment with code to make it more readable

[2018-01-16 09:09] jorge9200 opened #58 "Add notifications push"

[2018-01-16 10:09] burhan-project-manager commented on #45
It is fixed!

[2018-01-16 10:12] burhan-project-manager commented on #50
@jorge9200 are you talking about counters padding?

[2018-01-16 12:42] burhan-project-manager commented on #57
It is fixed now!

[2018-01-16 12:45] burhan-project-manager commented on #56
It is done!

[2018-01-16 12:47] burhan-project-manager commented on #55
When we reply or forward, gmail is adding three dots and hiding signature in three dots.
We are doing same thing.

[2018-01-16 12:49] burhan-project-manager commented on #52
It is fixed. We are not getting any undefined now.

Please confirm!

[2018-01-16 12:51] burhan-project-manager commented on #51
@javiergarmon forward that email to me.
May be that email has some other scenario, we have tried to cover all scenarioto load emails.

[2018-01-16 12:53] burhan-project-manager commented on #48
It is done!
Please confirm!

[2018-01-16 13:46] #56 closed, assigned to jorge9200

[2018-01-16 13:49] icastillejogomez commented on #57
Fantastic! Thank you!

[2018-01-16 13:49] #57 closed, assigned to icastillejogomez

[2018-01-16 13:49] jorge9200 commented on #55
Yes exactly but we are not adding signature after dots content
![image](https://user-images.githubusercontent.com/8724844/34992143-79379e5a-facc-11e7-90f1-06a0c21e5961.png)

[2018-01-16 13:56] javiergarmon commented on #48
It's fixed. Closed

[2018-01-16 13:56] #48 closed, assigned to javiergarmon

[2018-01-16 13:56] Robby2023 opened #59 "When someone answers to my email, his name should appear instead of mine"
Let me explain, when someone answers to an email I've sent, it currently shows like this:

![image](https://user-images.githubusercontent.com/1384919/34992400-63408c46-facd-11e7-8bfd-84671dfbae3a.png)

However, it should show the name of the last sender like it does in Gmail:

![image](https://user-images.githubusercontent.com/1384919/34992426-7c6b3f2c-facd-11e7-9829-b40666edf0cb.png)

[2018-01-16 13:58] jorge9200 commented on #50
Only about plus button padding, the one which makes the hover shadow it has more padding on the left side than in the right side

![image](https://user-images.githubusercontent.com/8724844/34992500-b0f2c878-facd-11e7-9348-cd5271b95e4d.png)

[2018-01-16 13:58] Robby2023 commented on #41
It's happening again! It has just happened to a coworker on an email with two attachments:

![photo_2018-01-16_14-58-24](https://user-images.githubusercontent.com/1384919/34992511-b6093270-facd-11e7-9867-9db587c6d70b.jpg)

[2018-01-16 14:18] Robby2023 opened #60 "Sometimes when I try to download an attachment it shows a 404 error"
Sometimes when I click on download file it shows this:

![image](https://user-images.githubusercontent.com/1384919/34993402-8cee1394-fad0-11e7-8c85-b1f11c3bf646.png)

[2018-01-16 14:37] Robby2023 commented on #41
Same problem with a different email (one attachment):

![image](https://user-images.githubusercontent.com/1384919/34994232-20adbefc-fad3-11e7-8413-132551952679.png)

[2018-01-16 15:35] javiergarmon commented on #51
When I open that mails this error is displayed in the console:

![screen shot 2018-01-16 at 16 33 20](https://user-images.githubusercontent.com/1794673/34996871-3532aa74-fadb-11e7-870c-51d9d12cffe5.png)

[2018-01-16 15:38] Robby2023 commented on #59
Right now my last 5 emails seem to be sent by myself:

![image](https://user-images.githubusercontent.com/1384919/34997036-a91530d8-fadb-11e7-9543-d5960398f85b.png)

[2018-01-17 05:19] burhan-project-manager commented on #55
Gmail is showing signature just after three dots. Do you want signature at end of message?

![image](https://user-images.githubusercontent.com/28291997/35026962-e63c2de2-fb6f-11e7-8c8a-36f1986e9ce8.png)

[2018-01-17 11:03] #58 closed, assigned to jorge9200

[2018-01-17 11:29] burhan-project-manager commented on #60
@Robby2023 we have tested it with different attachments of existing emails but couldn't find error.
However when we send a fresh email with attachment, Gmail sometimes show 404 error but after some time if we hit that URL again, it downloads file successfully. May be it takes some time for Gmail to upload file?

[2018-01-17 11:30] burhan-project-manager commented on #59
We have tried to follow every scenario of Gmail and it looks good now.

[2018-01-17 11:32] burhan-project-manager commented on #54
Done!

[2018-01-17 11:35] burhan-project-manager commented on #53
Fixed!

[2018-01-17 11:41] #54 closed, assigned to javiergarmon

[2018-01-17 12:07] Navas23 opened #61 "¿Esto es normal?"
Me sale este mensaje al tratar de añadir mi cuenta de gmail en horbito

![captura de pantalla 2018-01-17 a las 13 05 57](https://user-images.githubusercontent.com/10729343/35042049-49319a7e-fb87-11e7-9594-1903b6612588.png)

[2018-01-17 12:20] burhan-project-manager commented on #46
Fixed!

[2018-01-17 12:27] jorge9200 commented on #55
Gmail shows it before the message not after, look:
![image](https://user-images.githubusercontent.com/8724844/35042733-0ef45e98-fb8a-11e7-9fdf-87c10fcc0986.png)

So yes please, show it and the end

[2018-01-17 12:27] #53 closed, assigned to jorge9200

[2018-01-17 13:08] icastillejogomez commented on #61
Es normal :)

[2018-01-17 13:08] #61 closed, assigned to javiergarmon, icastillejogomez

[2018-01-17 13:13] burhan-project-manager commented on #55
I figured out the problem. Actually if we check following checkbox Gmail shows signature on top. Because we can't get that value, we will show signature on bottom. You are right!

![image](https://user-images.githubusercontent.com/28291997/35044397-0d73531c-fbb2-11e7-83ee-c7b33b1196fb.png)

[2018-01-17 14:02] josemhdez commented on #41
Same problem:

![image](https://user-images.githubusercontent.com/12035376/35046463-5a9f7352-fb97-11e7-9971-047dd7c422a6.png)

[2018-01-17 14:08] javiergarmon opened #62 "Trashed items can't be recovered"

[2018-01-17 14:16] javiergarmon commented on #51
I can't forward you the mail, it get "fixed".

This is the message:

[code]

[2018-01-17 14:18] javiergarmon commented on #51
Related #41

[2018-01-17 14:18] javiergarmon commented on #41
Related #41

[2018-01-17 14:23] javiergarmon commented on #52
It seems fixed but now there is other issue:

Before click it:

![captura de pantalla 2018-01-17 a las 15 19 59](https://user-images.githubusercontent.com/1794673/35047451-42a7472c-fb9a-11e7-9d35-946dc4e3c730.png)

After click it this UI is showed (this should be visible always):

![captura de pantalla 2018-01-17 a las 15 20 03](https://user-images.githubusercontent.com/1794673/35047468-51d00e6e-f

[2018-01-17 19:22] icastillejogomez opened #63 "Implement the "added account" event."
When OAuth process is complete, "added-account" event is send to the app. The way to implement is the same like the others events.

Thank you so much guys, the app is pretty cool. =D

[2018-01-18 06:54] burhan-project-manager commented on #63
@icastillejogomez after adding account we are getting this error in popup:

![image](https://user-images.githubusercontent.com/28291997/35084529-3f3cbd5e-fc46-11e7-9040-38f082183471.png)

[2018-01-18 06:55] burhan-project-manager commented on #62
It is done!

[2018-01-18 06:56] burhan-project-manager commented on #55
Signature is added at the end of message in reply/forward message.

[2018-01-18 06:59] burhan-project-manager commented on #51
In some messages with lots of attachments, it is taking time to load. But it is working fine.

Are you getting this issue again? @javiergarmon

[2018-01-18 07:02] burhan-project-manager commented on #50
It is done!

[2018-01-18 08:17] icastillejogomez commented on #63
fixed

[2018-01-18 09:47] jorge9200 commented on #55
Wow I didn't know about that checkbox, sorry @burhan-project-manager and issue fixed!

[2018-01-18 09:47] #55 closed, assigned to jorge9200

[2018-01-18 09:47] jorge9200 commented on #50
fixed

[2018-01-18 09:47] #50 closed, assigned to jorge9200

[2018-01-18 09:49] jorge9200 opened #64 "TinyMCE is not working with other domains"
We have another domains like: horbito.hotelservicers.com

When you try to send a mail from there this is showed:
![image 2018-01-18 10 48 43](https://user-images.githubusercontent.com/8724844/35091525-288669ba-fc3d-11e7-9103-ed2aba8b2177.jpg)

This is because TinyMCE is only configured to work on horbito.com, can you change it? it is possible?

[2018-01-18 09:52] javiergarmon commented on #51
I'm afraid this is not a time matter, the app crashes when I try to open these mails:

![captura de pantalla 2018-01-18 a las 10 51 49](https://user-images.githubusercontent.com/1794673/35091750-b2466754-fc3d-11e7-8a2a-df7825b705d6.png)

[2018-01-18 09:54] javiergarmon commented on #62
That's true, my fault. I didn't see the move option. Closed

[2018-01-18 09:54] #62 closed, assigned to javiergarmon

[2018-01-18 11:08] burhan-project-manager commented on #52
@javiergarmon check it now!

[2018-01-18 11:54] burhan-project-manager commented on #47
It is fixed with more smooth scrolling!

[2018-01-18 11:55] josemhdez opened #65 "Not able to scroll down or up if the mouse pointer is located on the body of the message"

[2018-01-18 12:10] jorge9200 commented on #47
it still happening with laptop launchpads :(

[2018-01-18 12:26] josemhdez opened #66 "Headings, Bold and Italic doesn´t work"

[2018-01-18 12:39] josemhdez opened #67 "Problem with the dates of email conversations"
The date in which emails are sent or received, when conversations, are listed wrong. Gmail lists email conversations by the last day you received an answer or when sent, the last day you sent an email. here is listed correctly but the dates it shows belong to the dirst mail crossed with the other person.

![image](https://user-images.githubusercontent.com/12035376/35098567-00ceb680-fc55-11e7-858c-

[2018-01-18 12:43] javiergarmon commented on #52
![install-apache-it-works-port80](https://user-images.githubusercontent.com/1794673/35098690-840af770-fc55-11e7-8087-23a3f965a60c.png)

[2018-01-18 12:43] #52 closed, assigned to javiergarmon

[2018-01-18 13:00] icastillejogomez commented on #63
Okay. Works perfect! Only another question for you. We saw a second "listAccounts" call. Is it necessary? Could we avoid it?

[2018-01-18 13:18] burhan-project-manager commented on #51
According to your provided JSON, it is fixed.

Please check and confirm!

[2018-01-18 13:19] burhan-project-manager commented on #41
It is fixed with #51

If you still see any "loading" issue, please forward that email to me or send me JSON of message.

[2018-01-18 13:20] burhan-project-manager commented on #65
May be you have tested it while we was working on scroll issue!

It was resolved anyway.

[2018-01-18 13:41] icastillejogomez opened #68 "Regular expression in addresses"
I can try to send a message with an invalid address pattern. Then Gmail responses with an error "Recipient address required".

You have to check with regular expressions all addresses.

https://stackoverflow.com/questions/46155/how-can-you-validate-an-email-address-in-javascript

[2018-01-18 14:07] Robby2023 commented on #60
Nope, I'm having the issue with an email I received yesterday and every time I try to download any of the attachments it shows me a 404: http://wz.io/f/Jg3pHkPT

[2018-01-18 14:15] Robby2023 opened #69 "The date shown in the main view is not always correct"
Right now if I look at the dates of the emails that show up on my main view I see this:

![image](https://user-images.githubusercontent.com/1384919/35101952-b10d5a04-fc61-11e7-8fb0-2131f81fdc50.png)

The issue is with those emails that are a response from a previus email, on all of them it should always show the time of the last email received. Here is what it looks like in Gmail:

![image](https:

[2018-01-18 14:16] Robby2023 commented on #59
Seems pretty good!

[2018-01-18 14:16] #59 closed, assigned to Robby2023

[2018-01-18 14:21] Robby2023 commented on #46
Yes!

[2018-01-18 14:21] #46 closed, assigned to Robby2023

[2018-01-18 14:22] Robby2023 commented on #45
Seems fixed!

[2018-01-18 14:22] #45 closed, assigned to Robby2023

[2018-01-18 14:23] Robby2023 commented on #41
Okay, I'll leave this issue opened and update as soon as I have news

[2018-01-18 14:23] josemhdez opened #70 "Wrong snippet on conversations"
While GMail shows you the body of the mails without having to expand them, the app shows you the contact of tha mail instead of the body.

![image](https://user-images.githubusercontent.com/12035376/35102447-4c3fddfc-fc63-11e7-84ad-f8ddf6baf2e9.png)

![image](https://user-images.githubusercontent.com/12035376/35102504-6d575056-fc63-11e7-96a8-90ad5890e16f.png)

[2018-01-18 14:37] Robby2023 opened #71 "Typography is incorrect"
- When you open an email you're using Times New Roman instead of Arial (And I think you're using #000 instead of #222):

![image](https://user-images.githubusercontent.com/1384919/35102611-ab318824-fc63-11e7-8d80-5d6029dbb1f3.png)

Here is how the text appears in Gmail:

![image](https://user-images.githubusercontent.com/1384919/35102636-bbc8b928-fc63-11e7-9715-1b800645b99b.png)

- In the compose

[2018-01-18 14:54] josemhdez commented on #41
Im still having the issue!

![image](https://user-images.githubusercontent.com/12035376/35103991-d8bb83d6-fc67-11e7-860a-5ecac3c6ff29.png)

[2018-01-18 15:06] jorge9200 commented on #47
perdona @icastillejogomez queria asignar a burhan no a ti

[2018-01-18 15:07] javiergarmon commented on #51
![captura de pantalla 2018-01-18 a las 16 06 58](https://user-images.githubusercontent.com/1794673/35104649-bcdd15d8-fc69-11e7-90b2-5b19c9b70002.png)

Still is failing

[2018-01-18 15:19] josemhdez opened #72 "Search error"
When I search, the total ammount of emails after this search still has the same number as the total inbox. Furthermore, when I start going back to these first emails, at one point Im not able to continue searching for previous emails.
![image](https://user-images.githubusercontent.com/12035376/35105183-44a27cbe-fc6b-11e7-8b75-583e6d06004c.png)

[2018-01-18 16:03] josemhdez opened #73 "Mark as read/ Unread page numeration bug"
If you go some pages back in order to see older emails, and you select all of them even to mark them as read or unread, after doing it, the screen show you the first emails of inbox or sent etc instead of the ones you marked. Also the numeration still shows the page you were before eventhough the messages shown are the latest ones.

This image is after I do all the process, showing how it ends up

[2018-01-18 16:08] josemhdez opened #74 "Padding"
When writing a new email, there is less paddy than Gmail use.

![image](https://user-images.githubusercontent.com/12035376/35107781-172533a6-fc72-11e7-81bc-394d28c8f9a5.png)

VS

![image](https://user-images.githubusercontent.com/12035376/35107822-340735be-fc72-11e7-9fc4-210289b9f4ee.png)

[2018-01-19 01:19] javiergarmon commented on #31
It doesn't seem enough to increase the allowed frame size. I've to investigate a little bit more.

[2018-01-19 01:59] javiergarmon commented on #31
Ok guys, it's fixed 😉  @icastillejogomez what's next?

[2018-01-19 07:54] josemhdez opened #75 "Emails with videos embeded aren´t shown correctly"
This is the typical Youtube maiol for the channels you are subscribed. On the appp you see it like this:

![gmail mal correos con videos youtube](https://user-images.githubusercontent.com/12035376/35140038-02c480f4-fcf6-11e7-8fa8-b685d373d15e.JPG)

While in Gmail its shown like this:

![image](https://user-images.githubusercontent.com/12035376/35140108-4c7cf0dc-fcf6-11e7-9190-9d2957640fd5.png)

[2018-01-19 09:59] burhan-project-manager commented on #74
It is done!

[2018-01-19 10:01] burhan-project-manager commented on #73
It is fixed!

[2018-01-19 10:28] burhan-project-manager commented on #70
Its done!

[2018-01-19 11:34] burhan-project-manager commented on #69
Gmail is showing date of last message. Now we have done the same!

[2018-01-19 12:40] burhan-project-manager commented on #71
Those points were done!

Previous sent emails may not work properly. But new emails will work fine!

[2018-01-19 12:41] burhan-project-manager commented on #68
Implemented!

Now it will show warning if email is invalid

![image](https://user-images.githubusercontent.com/28291997/35151416-0946eabc-fd40-11e7-97b8-1247c6647a4d.png)

[2018-01-19 12:47] burhan-project-manager commented on #66
It was due to #39. We have removed reset.css and it is working fine!

[2018-01-19 12:50] burhan-project-manager commented on #64
We are still using developer account's TinyMCE.

Please provide your own TinyMCE keys and add domains.

[2018-01-19 12:51] burhan-project-manager commented on #63
We need "listAccounts" when getting all account.

[2018-01-19 12:55] burhan-project-manager commented on #60
Can you please show hover URL of that attachment?

[2018-01-19 12:58] burhan-project-manager commented on #51
It seems that error was occurred at the time of our development. If you still get this issue please post here.

[2018-01-19 13:03] burhan-project-manager commented on #72
I understand first point but can you please explain following in little more details?

Furthermore, when I start going back to these first emails, at one point Im not able to continue searching for previous emails.

[2018-01-19 13:05] burhan-project-manager commented on #75
@josemhdez  please forward youtube email to me at burhan.project.manager@gmail.com

[2018-01-19 13:58] josemhdez opened #76 "Compose New email bug?"
I started the app and expanded it a bit, then I clicked on compose and the image of new email was like this image.

![image](https://user-images.githubusercontent.com/12035376/35154097-2966df4e-fd29-11e7-85a9-5aed9b8a1ae7.png)

[2018-01-19 14:02] josemhdez opened #77 "Attached design is not good"
There is a problem with the view of the attachments when creatibg a new email. Thare are problems when you have a signature of email and when the email is long enough to reach the body of the attachment.

![gmail ajunto con firma](https://user-images.githubusercontent.com/12035376/35154222-b9bd2ad0-fd29-11e7-8e9d-531b05bcc3f6.JPG)
![gmail adjunto body largo sin firma](https://user-images.githubuse

[2018-01-19 14:06] josemhdez commented on #76
I´ve refreshed the page and now works correctly. What could have happenned?

[2018-01-19 14:18] josemhdez opened #78 "Problems whe you add wrong email to recipient"
When you add to recepient a wrong email (or a url for example) it shows you this text with red background which is correct. Once you erase this text, the red background remains there:

![image](https://user-images.githubusercontent.com/12035376/35154807-dfa80d44-fd2b-11e7-8320-30bccb8ea369.png)

It disappear once you introduce a correct new email but it should be removed once you erase the wrong o

[2018-01-19 14:30] josemhdez opened #79 "Wrong "Intro" space"
When you writing an email, and then you click "Shift + Intro" the space whis shows you between lines is wrong (feels like double the space it should leave)

![image](https://user-images.githubusercontent.com/12035376/35155341-9410966a-fd2d-11e7-8e4a-70e0ce0979f6.png)

[2018-01-19 15:18] icastillejogomez commented on #63
Ok. Perfect. Then I'm going to close it.

[2018-01-19 15:18] #63 closed, assigned to icastillejogomez

[2018-01-19 15:19] icastillejogomez commented on #68
looks fantastic

[2018-01-19 15:19] #68 closed, assigned to icastillejogomez

[2018-01-19 15:21] icastillejogomez commented on #31
Great! It's fixed :D

[2018-01-19 15:21] #31 closed, assigned to icastillejogomez

[2018-01-19 15:25] icastillejogomez commented on #51
fixed.

[2018-01-19 15:25] #51 closed, assigned to javiergarmon

[2018-01-19 15:38] jorge9200 commented on #73
@burhan-project-manager pagination is now going so slow :S

[2018-01-19 15:39] josemhdez commented on #75
Email sent :)

[2018-01-19 15:43] josemhdez commented on #72
When there are no more emails which fit on the search I made, the arrow to go to older emails change to unclickable

[2018-01-19 15:46] josemhdez commented on #74
Yes, now it's fixed thanks, but now we have got the problem of issue #79 which can be related.

[2018-01-19 17:30] icastillejogomez opened #80 "Suggested mails in real-time"
![image](https://user-images.githubusercontent.com/16567802/35162989-80025920-fd45-11e7-85b8-35b30d14cf39.png)

Finally, you can call this two new methods. Calling `suggestedMail` to get all emails used in the account ( updating always that you have to do it ) you can make a local suggested mails.

Or you can call `searchSuggestedMail` method everytime the address input changes

[2018-01-22 09:33] #74 closed, assigned to josemhdez

[2018-01-22 09:40] #70 closed, assigned to josemhdez

[2018-01-22 10:13] josemhdez commented on #66
It is not working properly. When you select a heading, th whole text you were writting is swichted to the heading you selected, while in Gmail it statrs to change the text from the moment you select the heading, without changing the rest of the tetxt.

![image](https://user-images.githubusercontent.com/12035376/35215644-2d3a3d08-ff65-11e7-9851-15ae10c6af1f.png)

[2018-01-22 10:13] #65 closed, assigned to josemhdez

[2018-01-22 12:56] burhan-project-manager commented on #76
That's strange, we will look into this problem soon.

[2018-01-22 12:59] burhan-project-manager commented on #75
Forwarded email is not loading. We will look into this problem soon.

![image](https://user-images.githubusercontent.com/28291997/35221966-07614bce-ff9e-11e7-83c6-4ab166f5db23.png)

[2018-01-23 00:30] icastillejogomez opened #81 "CID Images Error in Safari"
<img width="1030" alt="captura de pantalla 2018-01-23 a las 1 29 11" src="https://user-images.githubusercontent.com/16567802/35251756-0808ce6e-ffdd-11e7-80d7-dc8ac08997c2.png">
<img width="284" alt="captura de pantalla 2018-01-23 a las 1 29 27" src="https://user-images.githubusercontent.com/16567802/35251757-0823c8b8-ffdd-11e7-875e-d91dece99158.png">

[2018-01-23 05:08] burhan-project-manager commented on #78
Once you erase wrong text BUT you are still in editing mode, it is showing red background.
But if you click anywhere else with empty tag, it will remove that red background.

I think it is working fine!

[2018-01-23 05:19] burhan-project-manager commented on #76
We are not getting same error again!
If you get it again, please post here with steps that you took.

[2018-01-23 05:22] burhan-project-manager commented on #73
Yes server response is slow but sometimes it works fast .

[2018-01-23 09:50] tavi004 opened #82 "The email doesn't look the same as original"
On the left is how it should look and on the right gmail for horbito.

![image](https://user-images.githubusercontent.com/3248361/35269053-2a7dbe3e-002b-11e8-8c2f-caf81450a48b.png)

[2018-01-23 10:07] Robby2023 opened #83 "Weird typo"
![image](https://user-images.githubusercontent.com/1384919/35269843-8c024204-002d-11e8-9254-9bba15eb080c.png)

[2018-01-23 10:10] Robby2023 opened #84 "Recipients not showing"
When I receive an email with several recipients in Gmail it shows this way:

![image](https://user-images.githubusercontent.com/1384919/35269922-cf0b0a68-002d-11e8-9111-57d3e8a326d9.png)

However, on the app it shows like this:

![image](https://user-images.githubusercontent.com/1384919/35269946-dd88e70e-002d-11e8-987c-d49478809206.png)

However if I click in the dropdown it shows several people:

[2018-01-23 10:13] Robby2023 opened #85 "I can't "Reply to all""
I'm trying to "Reply to all" in an email I've received but it's not showing that option:

![image](https://user-images.githubusercontent.com/1384919/35270107-64f7737c-002e-11e8-9c04-194237d61d3b.png)

If I click in the dropdown it shows several recipients:

![image](https://user-images.githubusercontent.com/1384919/35270123-7588c5ba-002e-11e8-9df3-cd4a68ac4ddf.png)

[2018-01-23 10:15] Robby2023 opened #86 "User image sometimes not showing"
Not sure if this is possible but on Gmail it shows the avatar of the sender but on the app it doesn't show:

Gmail

![image](https://user-images.githubusercontent.com/1384919/35270185-9d6c3eea-002e-11e8-93ca-96f994eb14a7.png)

App

![image](https://user-images.githubusercontent.com/1384919/35270199-ab99d5b8-002e-11e8-920d-8893eedd4a76.png)

[2018-01-23 11:43] burhan-project-manager commented on #75
It is fixed now!

![image](https://user-images.githubusercontent.com/28291997/35274064-85b48586-005c-11e8-9a01-5f4803ce7a3f.png)

[2018-01-23 11:53] #75 closed, assigned to burhan-project-manager

[2018-01-23 11:56] #78 closed, assigned to josemhdez

[2018-01-23 11:56] #76 closed, assigned to josemhdez

[2018-01-23 12:11] burhan-project-manager commented on #79
It is fixed now!

[2018-01-23 12:18] burhan-project-manager commented on #72
Ok i understand.

@icastillejogomez we have discussion about pagination in some older issue.

We were calling `usersThreadsList` to get total counts, but this API returns estimated count, so @icastillejogomez  develop two other APIs `usersGetProfile` and `usersLabelsGet` to get actual count.

But in case of search we are not getting any count details. We need a way to get total accounts against se

[2018-01-23 12:18] burhan-project-manager commented on #67
It is done!

[2018-01-23 12:23] burhan-project-manager commented on #86
We are using exactly same image URL returned by getAvatarURL API.

May be @icastillejogomez  needs to see that API.

[2018-01-23 12:28] burhan-project-manager commented on #83
@Robby2023  please explain what actually do you want to resolve in this?

[2018-01-23 12:50] burhan-project-manager commented on #77
Fixed!

![image](https://user-images.githubusercontent.com/28291997/35276670-f2840b56-0065-11e8-8f34-5a4034272624.png)

[2018-01-23 12:52] burhan-project-manager commented on #82
Please check again, it was fixed!

[2018-01-23 13:26] burhan-project-manager commented on #81
In Gmail message response we are getting GID for some images as source.

![image](https://user-images.githubusercontent.com/28291997/35278106-cb32f2c4-006a-11e8-9418-ac19afaf8cfc.png)

But in actual Gmail source is different:

![image](https://user-images.githubusercontent.com/28291997/35278139-e1a546e2-006a-11e8-9db7-3829d4c4943d.png)

We couldn't find any relation of those GID with attachments a

[2018-01-23 14:20] #73 closed, assigned to jorge9200

[2018-01-23 14:34] Robby2023 commented on #71
Perfect

[2018-01-23 14:34] #71 closed, assigned to Robby2023

[2018-01-23 14:34] Robby2023 commented on #69
Perfect!

[2018-01-23 14:34] #69 closed, assigned to Robby2023

[2018-01-23 14:39] Robby2023 commented on #60
![hover url](https://user-images.githubusercontent.com/1384919/35281590-8ad74f98-0053-11e8-8c19-7029fb88c29e.png)

[2018-01-23 14:46] Robby2023 commented on #83
The texts I've indicated should be Lato

[2018-01-23 14:47] Robby2023 opened #87 "Details menu has some bugs"
Here is how it shows in Gmail:

![image](https://user-images.githubusercontent.com/1384919/35281791-1ac39530-0054-11e8-8f65-d81d338dc3aa.png)

Here is how it appears in the app:

![image](https://user-images.githubusercontent.com/1384919/35281853-407c2f4e-0054-11e8-86fc-ea6ff67a75a6.png)

- The typography and text size is incorrect
- The data shown is incomplete (it should show email address)
- Da

[2018-01-23 15:06] #67 closed, assigned to josemhdez

[2018-01-23 16:12] tavi004 commented on #82
The mail still looks the same. Looks like the font it doesn't load
![image](https://user-images.githubusercontent.com/3248361/35286536-92df0a7a-0060-11e8-95d1-647d5d5a5fe0.png)

[2018-01-24 00:54] icastillejogomez commented on #81
tomorrow I'll see it with @javiergarmon

[2018-01-24 01:18] icastillejogomez commented on #72
It's no possible. The only way to solve it is eliminate the "of X" text and wait to get the last page, then print "of X" text.

[2018-01-24 01:19] icastillejogomez commented on #86
It's so weird... tomorrow I'll see it with @Robby2023

[2018-01-24 04:16] burhan-project-manager commented on #82
May be it is custom font and google rendering that custom font.

Need to see it. @tavi004  please forward that email to me burhan.project.manager@gmail.com

[2018-01-24 09:56] burhan-project-manager commented on #85
**Reply to all** feature is added

[2018-01-24 10:02] burhan-project-manager commented on #83
@Robby2023  those texts should be Lato or Arial?
Because someone directed us to to change Lato to Arial on some pages.

Also Gmail uses Arial.

BTW we have changed it to Arial.

[2018-01-24 10:06] burhan-project-manager commented on #60
@Robby2023 we are not able to find issue because we are not facing that issue any more.
Can you please forward that email so that we can debug?

[2018-01-24 10:56] tavi004 commented on #82
Done!

[2018-01-24 11:40] #79 closed, assigned to josemhdez

[2018-01-24 11:48] #77 closed, assigned to josemhdez

[2018-01-24 12:51] burhan-project-manager commented on #87
Text size, additional data and date format corrected.

[2018-01-24 12:52] burhan-project-manager commented on #84
It is done!

[2018-01-24 12:56] burhan-project-manager commented on #82
I don't know if it is browser or cache issue. But we are getting it correctly.

![image](https://user-images.githubusercontent.com/28291997/35333256-dff6b59a-012f-11e8-892b-4d3cc0a91be7.png)

[2018-01-24 12:58] burhan-project-manager commented on #72
We don't have total count in case of search so we can't calculate current page also.

But next/previous buttons will work fine.

Check now
![image](https://user-images.githubusercontent.com/28291997/35333313-218877dc-0130-11e8-87bc-88bf51cca8f9.png)

[2018-01-24 12:59] burhan-project-manager commented on #66
Heading tag margin by default so we have removed it.
Also Gmail was using font-size, we also implemented it but in terms of points, like 10pt, 12pt.

[2018-01-24 13:33] icastillejogomez commented on #72
You have to print 1 - 20  ;  21 - 40 and when you get the last page then print in **all** pages

Before I get the last page:

`1 - 20`
`21 - 40`

After I get the last page:

`1 - 20 of <total_messages_here>`
`21 - 40 of <total_messages_here>`

[2018-01-24 14:03] #82 closed, assigned to tavi004

[2018-01-24 14:25] tavi004 commented on #83
Only the content of the emails and the list of emails should be in Arial, the texts of the UI should be Lato like before, where everything looked right

[2018-01-24 14:55] #66 closed, assigned to nobody

[2018-01-24 16:15] Robby2023 commented on #87
The design is perfect now! Good job. However, text is not selectable which is a bit annoying if I want to select the email or name of any of the recipients, would it be possible to make it selectable?

[2018-01-24 16:19] Robby2023 commented on #85
It seems it's not working properly, when I click on "Reply to all" and add a message, when I click "Send" it shows "Sending..." but nothing happens.

[2018-01-24 16:23] Robby2023 commented on #84
It's still not showing info of the recipients unless I click on the dropdown:

![captura de pantalla 2018-01-24 a las 17 21 29](https://user-images.githubusercontent.com/1384919/35343515-2425adde-012b-11e8-8768-da9d28f18db6.png)

There it should say "To me, Borja, Nacho..."

If I click in the dropdown you can see there are more recipients:

![captura de pantalla 2018-01-24 a las 17 21 36](https://

[2018-01-25 05:39] burhan-project-manager opened #88 "Email send error"
Draft is saving but there is an error in API when we send that draft.

![image](https://user-images.githubusercontent.com/28291997/35372470-f814fd58-01bb-11e8-9423-3aaef78d5607.png)

[2018-01-25 05:40] burhan-project-manager commented on #85
There is a problem with API, created an issue #88  for that.

[2018-01-25 06:30] burhan-project-manager commented on #83
Lato Implemented!

[2018-01-25 06:33] burhan-project-manager commented on #72
Pagination implemented in search.

[2018-01-25 06:36] burhan-project-manager commented on #84
It is done now!

[2018-01-25 09:54] tavi004 commented on #83
The accounts texts is stil Arial.
![image](https://user-images.githubusercontent.com/3248361/35381706-6f13bace-01bd-11e8-80e2-ef68cdb81b94.png)

This contextual menu doesn't have the same design as the others, please unify it under the same design and same text as the "More", and give a little more padding between each option.
![image](https://user-images.githubusercontent.com/3248361/35381814-c36

[2018-01-25 09:55] tavi004 commented on #83
The email lost the style:
![image](https://user-images.githubusercontent.com/3248361/35381952-24170cd2-01be-11e8-997a-f8cb9448aa61.png)
![image](https://user-images.githubusercontent.com/3248361/35381963-2d765800-01be-11e8-9d71-242b7f5684ef.png)

[2018-01-25 11:35] burhan-project-manager commented on #87
We have tried to enable selection and copy but restrictions are imposed Globally.

[2018-01-25 13:02] burhan-project-manager commented on #83
Implemented Lato font family and same menu style.

![image](https://user-images.githubusercontent.com/28291997/35389549-ef1553b8-01f9-11e8-8228-3dc1076c98f3.png)

[2018-01-25 13:03] burhan-project-manager commented on #83
Can you forward that email to me from Gmail, it is looking strange.

[2018-01-25 16:23] Robby2023 commented on #84
It is indeed working now although there is a small bug, the first name after "me" appears bold:

![image](https://user-images.githubusercontent.com/1384919/35399398-68466d72-01f4-11e8-9351-c584233ff2cf.png)

[2018-01-25 16:29] jorge9200 commented on #87
you can make it selectable for firefox (here is the problem) by adding this class!

![image](https://user-images.githubusercontent.com/8724844/35399750-4dd5e0b6-01f5-11e8-8873-a06f0b118f7f.png)

wz-selectable to the spans where is the text

[2018-01-26 13:39] tavi004 commented on #83
Still has bold text unlike the other contextual menus, remove the bold
![image](https://user-images.githubusercontent.com/3248361/35442202-a74d4ee8-02a6-11e8-87e8-f594f5a5428b.png)

[2018-01-26 13:40] tavi004 commented on #83
Here the font size should be 13px

![image](https://user-images.githubusercontent.com/3248361/35442238-d1260f84-02a6-11e8-8b95-7604e16e4a72.png)

[2018-01-27 06:49] icastillejogomez commented on #88
you are passing an empty draftId. have a look please.

[2018-01-27 06:50] icastillejogomez commented on #85
issue [#88](https://github.com/Inevio/Gmail/issues/88) answered!

[2018-01-27 06:53] icastillejogomez opened #89 "bad "to" field when I try to use 'reply to all' feature"
![bugreplytoall1](https://user-images.githubusercontent.com/16567802/35469546-eaaddb68-0336-11e8-87ef-4e52dfea22b2.png)
![bugreplytoall2](https://user-images.githubusercontent.com/16567802/35469547-eac353a8-0336-11e8-8810-b515e1c1516e.png)
video: http://wz.io/f/ppTpfniW

[2018-01-27 06:59] #72 closed, assigned to josemhdez

[2018-01-29 06:30] burhan-project-manager commented on #89
It is fixed

[2018-01-29 06:31] burhan-project-manager commented on #88
It is working fine now!

[2018-01-29 06:31] #88 closed, assigned to burhan-project-manager

[2018-01-29 06:34] burhan-project-manager commented on #87
Implemented, but still right click is disabled!

[2018-01-29 06:52] burhan-project-manager commented on #83
@tavi004 i have received email in Gmail like this:

![image](https://user-images.githubusercontent.com/28291997/35497152-d05e69c0-04ea-11e8-82dd-d5f59b5e23ae.png)

It seems you have sent it from Horbito. Can you please send it from Gmail?

[2018-01-29 07:37] #89 closed, assigned to icastillejogomez

[2018-01-29 08:37] jorge9200 commented on #87
fixed

[2018-01-29 08:37] #87 closed, assigned to jorge9200

[2018-01-29 09:05] tavi004 commented on #83
done!

[2018-01-29 10:17] burhan-project-manager commented on #85
Issue fixed!

[2018-01-29 10:20] burhan-project-manager commented on #84
Are you still facing this issue? Because we are not getting this bug again.

[2018-01-29 10:26] burhan-project-manager commented on #83
We have received it in good manner.

![image](https://user-images.githubusercontent.com/28291997/35505704-bed371be-0508-11e8-97d5-d1498eae7d35.png)

We are not able to trace that issue because we can't see it

[2018-01-29 11:47] #83 closed, assigned to Robby2023

[2018-01-29 14:36] jorge9200 opened #90 "Is not showing the attachments on one email"
Email on horbito:
![imagen](https://user-images.githubusercontent.com/8724844/35515605-f494af1a-0509-11e8-8228-07a69c36b806.png)
(no attachments)

Email on Outlook:
![imagen](https://user-images.githubusercontent.com/8724844/35515705-251a11f2-050a-11e8-86ab-c8ea15cbd19e.png)
(with attachments)

Are we losing them? Or just not showing them?

Sara has forwarded the email to you.

[2018-01-29 14:39] jorge9200 commented on #90
She has sent it from both sides "from gmail" and "from horbito"

[2018-01-30 05:08] burhan-project-manager opened #91 "Attachment not sending when forwarding email"
When we forward and email that has attachment, that attachment is not attaching with forwarded email.

Reason:
When we send an email, we attach files using Horbito APIs. So how to forward same attachment with forwarded email?

[2018-01-30 05:09] burhan-project-manager commented on #90
I think it is due to #91

[2018-01-30 14:58] Robby2023 commented on #85
If you select "reply to all" it also includes the sender which doesn't make any sense:

![image](https://user-images.githubusercontent.com/1384919/35573132-7322e3de-05d6-11e8-8d07-f43a76a33610.png)

[2018-01-30 14:59] Robby2023 commented on #84
No, looks good now

[2018-01-30 14:59] #84 closed, assigned to Robby2023

[2018-01-30 15:09] Robby2023 commented on #60
Hello @burhan-project-manager, still having this issue, I'm forwarding you an email which attachment throws a 404

[2018-01-31 04:31] burhan-project-manager commented on #60
I am able to download that file!

![image](https://user-images.githubusercontent.com/28291997/35605214-132af064-0669-11e8-814f-d819c8092b3e.png)

May be it is true?

[2018-01-31 06:06] burhan-project-manager commented on #85
Yes you are right, it is also fixed.

[2018-02-01 20:19] #90 closed, assigned to burhan-project-manager

[2018-02-01 20:24] jorge9200 commented on #91
You have to call getAttachments() with the `message id` and the `attachment id`

![image](https://user-images.githubusercontent.com/8724844/35701347-f8fee0d2-0795-11e8-92fe-9936a51cf034.png)

then you forward the thread with the attachment.

Does it makes sense to you?

[2018-02-01 20:26] #41 closed, assigned to nobody

[2018-02-01 20:40] jorge9200 opened #92 "Loading... problem"
We have found that if the attachment has no name, it is included on body not on the corresponding place.

This is causing Loading... problem, or almost one cause of it.

[2018-02-02 04:57] burhan-project-manager commented on #92
@jorge9200  do you have any email that has attachment with no name? Please forward it so that we can inspect it.

[2018-02-02 06:58] burhan-project-manager commented on #91
That API of `getAttachment` is returning/downloading contents of attachment.
If an attachment has 5 MB data, it means to forward email we will download 5 MB data and then upload it with message?

I think `usersDraftCreate` API should accept attachment ID and forward it from server.
We have tried to send attachment ID but got Error "EMPTY FILE ID"

[2018-02-02 08:41] jorge9200 commented on #92
The tester gave me this video.

[error_attachment.mov.zip](https://github.com/Inevio/Gmail/files/1688589/error_attachment.mov.zip)

[2018-02-02 08:42] jorge9200 commented on #92
You can see there how to replicate

[2018-02-02 08:43] jorge9200 commented on #92
Because if I forward again to you, I think Google fix it. So please try to replicate yourself the error.

[2018-02-02 09:05] jorge9200 commented on #92
I'm sorry, the problem is not the attachment has no name. The problem is the body has no name

[2018-02-02 10:22] burhan-project-manager commented on #92
It is fixed, please check.

We don't have any message like that but according to video we have fixed it. Please confirm

[2018-02-02 14:25] #92 closed, assigned to jorge9200

[2018-02-02 21:18] jorge9200 commented on #60
it's happening with all my mails with attachments when I press download to PC

[2018-02-02 21:22] jorge9200 commented on #60
[Feb 2 2018 10_21 PM.webm.zip](https://github.com/Inevio/Gmail/files/1690877/Feb.2.2018.10_21.PM.webm.zip)

[2018-02-12 14:42] #85 closed, assigned to Robby2023

[2018-02-13 11:13] jorge9200 opened #93 "Scroll bug"
Here is a video to reproduce it
[scrollbug.zip](https://github.com/Inevio/Gmail/files/1719666/scrollbug.zip)

[2018-02-14 11:00] saragsc opened #94 "An email is not showing"
This email is not showing (the one from "yo, Info(7)")

Native:
![imagen](https://user-images.githubusercontent.com/36300363/36200856-44ac0d42-117e-11e8-824b-10f3d17db284.png)

Horbito:
![imagen](https://user-images.githubusercontent.com/36300363/36200914-7dd17dc8-117e-11e8-8379-ea31ff9dd6f1.png)

And Google api is returning it:
![imagen](https://user-images.githubusercontent.com/36300363/36200951

[2018-02-14 12:54] burhan-project-manager commented on #94
@saragsc we are not able to re-produce this bug.
We are just injecting all data that we get via your APIs.

Have have added a console  "saragsc test" that displays all data returned by `usersThreadsList` api.  Can you please forward that consoled data here?

[2018-02-14 13:11] burhan-project-manager commented on #93
It was fixed!

[2018-02-14 13:42] jorge9200 commented on #94
ok

[2018-02-14 13:42] #94 closed, assigned to saragsc

[2018-02-14 14:02] #93 closed, assigned to jorge9200

[2018-02-14 14:39] saragsc opened #95 "Fallo en las tilde"
![image](https://user-images.githubusercontent.com/36300363/36209836-1eba7cc6-119d-11e8-8108-90dac8c1856f.png)

[2018-02-14 20:21] javiergarmon commented on #60
Please, use this endpoint instead the Gmail one:

[code]

[2018-02-14 20:34] javiergarmon commented on #95
Arregla con el commit https://github.com/Inevio/Gmail/commit/67591ad1c9edf5e70aaad060ec4365c85013a659

[2018-02-14 20:34] #95 closed, assigned to javiergarmon, jorge9200

[2018-02-15 10:38] icastillejogomez commented on #60
@burhan-project-manager  let me know when it has been implemented please

[2018-02-15 13:40] jorge9200 commented on #91
For a first version we are going to introduce an alert() when you try to forward an email with attachments saying "You will have to download the attachments and reattach to de message to send this attachments" (something like that)

[2018-02-16 06:29] burhan-project-manager commented on #91
Alert Added!

[2018-02-16 06:54] burhan-project-manager commented on #60
Implemented!

[2018-02-16 06:57] burhan-project-manager commented on #60
It is downloading but immediately we get error. Don't know if it is network connectivity issue or something else?

![image](https://user-images.githubusercontent.com/28291997/36296723-8ce8330e-1310-11e8-99b2-8eb9288094c3.png)

[2018-02-19 11:57] #91 closed, assigned to jorge9200

[2018-02-19 14:40] #81 closed, assigned to jorge9200

[2018-02-21 14:27] saragsc opened #96 "lag en la reescritura de las entradas de correos."
https://git.inevio.com/inevio/Support/issues/2919

[2018-03-06 10:51] josemhdez opened #98 "Draft bug"
I saved a drft yesterday, without subject but with body in the message. Today when I wanted to use this draft, it appeared like it was ok when listed, but once I opened there was no body at all and looked like a New Email, just  like if you click in compose.

I left you here a video to explain it better:

http://wz.io/f/igSgNEwC